body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  /* firefox */
  scrollbar-width: 10px;
  scrollbar-color: #8c8c8c;
}

*::-webkit-scrollbar{
  /* chrome etc */
  width: 8px;
}

*::-webkit-scrollbar-thumb{
  /* chrome etc */
  background-color: #8c8c8c;
  border-radius: 20px;
}